{% extends 'base.html.twig' %}

{% block body %}
    <h1>Hello and welcome, friend</h1>


    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid amet, autem consequatur deleniti dolore
        enim, excepturi fugit illum impedit itaque molestiae molestias possimus recusandae rem saepe unde voluptates? Ab
        ad
        doloremque eaque inventore ipsum obcaecati quae quo quos voluptatem.</p>
    <p>A ab accusamus aliquam, asperiores
        assumenda autem commodi delectus deserunt doloribus ducimus ea eligendi esse ex exercitationem, explicabo hic in
        iusto libero magni maiores minima necessitatibus nisi numquam odio placeat quaerat quasi quibusdam rem
        repudiandae
        sit temporibus totam unde veritatis.</p>

{% endblock %}